.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 120px;
  min-height: 80px;
}

.selected img {
  background-color: rgba(105, 205, 249, 0.7);
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.imageContainerInner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  display: block;
  user-select: none;
}

.title {
  display: block;
  text-align: center;
  user-select: none;
  font-family: 'Chicago', monospace;
  font-size: 12px;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
  font-smooth: never;
  text-rendering: optimizeSpeed;
}

.finderTitle {
  color: #000;
}

.desktopTitle {
  color: #fff;
}

.dockTooltip {
  color: #fff;
}

.titleLine {
  display: block;
  line-height: 1.2em;
  padding: 0 5px;
}

.editInput {
  width: 100%;
}

.textContainer {
  display: block;
  font-size: 0.8rem;
  line-height: 16px;
  color: #fff;
}
